<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [opened]="sidebarService.open"
    class="example-sidebar"
    [fixedInViewport]="options.fixed"
    [fixedTopGap]="options.top"
    [fixedBottomGap]="options.bottom"
    (openedChange)="sidebarService.open = $event"
  >
    <app-outer-sidebar-content></app-outer-sidebar-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <mat-sidenav-container class="example-container2">
      <mat-sidenav mode="side" opened>
        <app-inner-sidebar></app-inner-sidebar>
      </mat-sidenav>
      <mat-sidenav-content class="background-secondary">
        <div class="pos-relative">
          <router-outlet></router-outlet>
          <button
            class="fab"
            mat-fab
            color="primary"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>